* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(#1f1f1f, #222);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80vh;
    border: 1px solid #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.left,
.right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left {
    background: linear-gradient(#1f1f1f, #222);
}

.right {
    background: #fff;
    background-image: linear-gradient(to top, #fff 0%, #ececec 100%);
    padding: 0px;
}

textarea {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 18px;
    resize: none;
    background: rgba(230, 230, 230, 0.1);
    color: #fff;
    padding: 20px;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 18px;
    resize: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

label {
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #fff;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }

    .left,
    .right {
        height: 50%;
    }

    .left label,
    .right label {
        font-size: 20px;
    }

    .container .left {
        order: 2;
    }
}