* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.wrap {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    background: #f6f2f1;
    padding-top: 30px;
    padding-bottom: 70px;
    min-width: 100%;
}

.main {
    background: #fff;
    padding-top: 60px;
}

.my-line-1-div {
    padding-bottom: 10px;
    padding-top: 10px;
}

.my-line-1 {
    height: 2px;
    background: #f6f2f1;
    width: 100%;
}

.my-line-2 {
    height: 2px;
    background: #ff3f40;
    width: 70px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 40px;
}

.my-line-3 {
    height: 2px;
    background: #ff3f40;
    width: 70px;
    margin-top: 10px;
    margin-bottom: 40px;
}

/* Header__Links start */

.header-links-section {
    background: #312f30;
    border-radius: 10px;
}
.header-links-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-link {
    text-decoration: none;
    color: #f6f2f1;
    padding: 30px;
    transition: 1s;
}
.header-link:hover,
.header-link:focus {
    background: #ff3f40;
}

/* Header__Links end */

/* our__strong__organaisation-section start */

.our__strong__organaisation-section {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__texts-title {
    font-size: 75px;
    font-weight: bolder;
}

.header__texts-text {
    font-size: 14px;
    color: grey;
    width: 460px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
}

.header__texts-link {
    color: #f6f2f1;
    background: #ff3f40;
    text-decoration: none;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    transition: 1s;
}
.header__texts-link:hover {
    color: #f6f2f1;
    opacity: 0.6;
    background: #ff3f40;
    text-decoration: none;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
}

.header-img {
    height: 315px;
    width: 400px;
    transition: 1s;
}
.header-img:hover {
    height: 315px;
    width: 400px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.3), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.7);
}

/* our__strong__organaisation-section end */

/* do__you__know__we__can__provide__for__you start */

.do__you__know__we__can__provide__for__you {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.do__you__know__we__can__provide__for__you-for-divs {
    display: flex;
    flex-wrap: wrap;
}

.do__you__know__we__can__provide__for__you-for-divs-first {
    width: 200px;
    margin-top: 10px;
}

.do__you__know__we__can__provide__for__you-for-divs-second {
    margin-left: 60px;
    width: 200px;
    margin-top: 10px;
}

.do__you__know__we__can__provide__for__you__texts-title {
    width: 100%;
    color: grey;
    font-size: 35px;
}

.do__you__know__we__can__provide__for__you__texts-text {
    color: black;
    width: 290px;
    font-size: 14px;
    padding: 10px 0 40px 0;
}

.do__you__know__we__can__provide__for__you__texts-link {
    width: 100%;
    color: #ff3f40;
    background: #fff;
    text-decoration: none;
    border: 1px solid #ff3f40;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    transition: 1s;
}

.do__you__know__we__can__provide__for__you__texts-link:hover {
    width: 100%;
    color: #fff;
    background: #ff3f40;
    text-decoration: none;
    border: 1px solid #ff3f40;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
}

.do__you__know__we__can__provide__for__you-img {
    height: 50px;
    width: 50px;
}

.do__you__know__we__can__provide__for__you-title {
    color: grey;
}

.do__you__know__we__can__provide__for__you-texts {
    font-size: 14px;
    color: grey;
    padding-bottom: 40px;
}

/* do__you__know__we__can__provide__for__you end */

/* feature__products start */

.feature__products {
    margin-top: 30px;
    margin-bottom: 90px;
}

.feature__products-texts-and-nav {
    margin-bottom: 30px;
}

.feature__products-texts-title {
    text-align: center;
    font-size: 35px;
}

.feature__products-texts-text {
    text-align: center;
    margin-top: 10px;
}

.feature__products-texts-text::after {
    content: "";
    height: 2px;
    background: #ff3f40;
    width: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.feature__products-nav {
    display: flex;
    justify-content: center;
}

.feature__products-nav-a {
    text-decoration: none;
    color: #000;
}

.feature__products-nav-a:hover {
    text-decoration: none;
    color: #45b9ff;
}

.feature__products-nav-a:not(first-child) {
    text-decoration: none;
    color: #000;
    margin-left: 10px;
}

.feature__products-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature__products-images-image {
    height: 280px;
    width: 220px;
    margin-top: 10px;
    margin-left: 10px;
    transition: 1s;
}

.feature__products-images-image:hover {
    height: 285px;
    width: 225px;
    margin-top: 10px;
    margin-left: 10px;
}

/* feature__products end */

/* meet__our__team start */

.meet__our__team {
    margin-bottom: 40px;
}

.meet__our__team-basics {
    display: flex;
    flex-wrap: wrap;
}

.meet__our__team-basics-texts {
    margin-top: 45px;
    margin-left: 30px;
}

.meet__our__team-texts-title {
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.meet__our__team-texts-text {
    font-size: 14px;
}

.meet__our__team-basics-images-image {
    height: 320px;
    width: 300px;
}

.meet__our__team-basics-texts-images-image {
    height: 175px;
    width: 150px;
}

.meet__our__team-basics-texts-title {
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 10px;
}

.meet__our__team-basics-texts-text {
    font-size: 12px;
    color: grey;
    margin-bottom: 10px;
}

.meet__our__team-basics-texts-links-link {
    text-decoration: none;
    color: grey;
    font-style: italic;
    font-size: 12px;
}

.meet__our__team-basics-texts-links {
    margin-bottom: 6px;
}

/* meet__our__team end */

/* Design__tips__and__e.t.s_ start */

.Design__tips__and__e_t_s_ {
    text-align: center;
    color: #fff;
    background: #000;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 40px;
}

.Design__tips__and__e_t_s__title {
    font-style: 35px;
    margin-bottom: 20px;
}

.Design__tips__and__e_t_s__text {
    font-style: 12px;
    margin-bottom: 30px;
}

.Design__tips__and__e_t_s__form-input {
    padding: 10px;
    padding-left: 20px;
    width: 300px;
    border: 1px solid #000;
}

.Design__tips__and__e_t_s__form-button {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #ff3f40;
    color: #fff;
    font-weight: bold;
    border: 1px solid #ff3f40;
    border-radius: 3px;
}

/* Design__tips__and__e.t.s_ end */

/* get__in__touch start */

.get__in__touch {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.get__in__touch-form-small {
    margin-bottom: 40px;
}

.get__in__touch-form-big {
    margin-bottom: 40px;
}

.get__in__touch-form-small-input {
    width: 240px;
    height: 40px;
    background: #e5e5e5;
    border: none;
    border-radius: 6px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.get__in__touch-form-small-input:last-child {
    width: 240px;
    height: 40px;
    background: #e5e5e5;
    border: none;
    border-radius: 6px;
    margin-left: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.get__in__touch-form-big-textarea,
.get__in__touch-form-big-textarea:focus {
    width: 505px;
    resize: none;
    min-height: 200px;
    max-height: 300px;
    background: #e5e5e5;
    border: none;
    border-radius: 6px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 1s;
}

.get__in__touch-form-buttons-button {
    width: 505px;
    border: none;
    background: #ff3f40;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
}

.get__in__touch-texts {
    background: #000;
    color: #fff;
    padding-top: 180px;
    padding-left: 60px;
    font-size: 14px;
    padding-right: 60px;
}

.get__in__touch-texts-title {
    margin-bottom: 8px;
}

.get__in__touch-texts-text {
    margin-bottom: 8px;
}

.get__in__touch-texts-gmail {
    margin-bottom: 8px;
}

.get__in__touch-texts-telephone-number {
    margin-bottom: 8px;
}

/* get__in__touch end */

/* copyrigth start */

.copyright {
    background: #000;
    margin-top: 40px;
    color: grey;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 10px;
}

.copyright-text {
    font-size: 14px;
}

.copyright-icons {
    display: flex;
}

/* copyrigth end */

/* adaptive start */

@media screen and (max-width: 950px) {
    .get__in__touch-texts {
        display: none;
    }

    html {
        font-size: 14px;
    }
    .header-img-div {
        order: -1;
        width: 100%;
        text-align: center;
    }

    .header-img {
        height: 300px;
        width: 375px;
        transition: 1s;
    }
    .header-texts {
        width: 100%;
        text-align: center;
    }
    .do__you__know__we__can__provide__for__you-texts {
        width: 100%;
        text-align: center;
    }
    .do__you__know__we__can__provide__for__you__texts-div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .do__you__know__we__can__provide__for__you-for-divs-first {
        width: 100%;
        text-align: center;
    }
    .do__you__know__we__can__provide__for__you-for-divs-second {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    .do__you__know__we__can__provide__for__you-for-divs {
        width: 100%;
        justify-content: center;
    }
    .feature__products-images-image {
        height: 240px;
        width: 180px;
    }
    .meet__our__team-basics-texts {
        margin-left: 20px;
    }
    .meet__our__team-basics-texts-images-image {
        height: 175px;
        width: 130px;
    }
    .get__in__touch-form {
        margin: 0 auto;
    }
}

@media screen and (max-width: 873px) {
    html {
        font-size: 12px;
    }
    .get__in__touch {
        display: flex;
        flex-wrap: nowrap;
    }
    .meet__our__team-texts {
        text-align: center;
    }
    .my-line-3 {
        margin: 20px auto;
    }
    .meet__our__team-basics-images {
        width: 100%;
        text-align: center;
    }
    .meet__our__team-basics-texts {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .wrap {
        max-width: 350px;
        margin: 0 auto;
    }
    .header__texts-title {
        font-size: 20px;
    }
    .header-img {
        width: 300px;
    }
    .Design__tips__and__e_t_s__form-input {
        width: 130px;
        padding: 5px;
        padding-left: 10px;
    }
    .Design__tips__and__e_t_s__form-button {
        border: 0;
        margin: 0 10px;
        border-radius: 0;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .Design__tips__and__e_t_s__form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .meet__our__team-basics-texts-images {
        margin: 0;
    }
    .get__in__touch-form-small-input {
        width: 126px;
        padding: 0 5px;
        margin: 0;
    }
    .get__in__touch-form-small-input:last-child {
        width: 126px;
        padding: 0 5px;
        margin: 0;
    }
    .get__in__touch-form-big-textarea,
    .get__in__touch-form-big-textarea:focus {
        width: 256px;
        padding: 10px;
        margin: 0;
    }
    .get__in__touch-form-buttons-button {
        width: 256px;
    }
    .header-link {
        text-decoration: none;
        color: #f6f2f1;
        padding: 30px 5px;
        transition: 1s;
    }
    .feature__products-nav-a {
        font-size: 8px;
        white-space: nowrap;
    }
    .Design__tips__and__e_t_s__text {
        font-size: 10px;
    }
    .copyright {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .copyright-text {
        font-size: 10px;
        white-space: nowrap;
    }
    .get__in__touch-form-small {
        margin-bottom: 10px;
    }
    .get__in__touch-form-big {
        margin-bottom: 10px;
    }
    .meet__our__team-basics-texts {
        margin: 10px 0;
        padding: 0;
    }
}
@media screen and (max-width: 330px) {
    .copyright-text {
        font-size: 8px;
        white-space: nowrap;
    }
}
/* adaptive end */
